<div class="row" ng-init="listarDev(); listarTreino(); open();">
	<div class="col-lg-12">
		<h1 class="page-header">Atribuir</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Atribuir Desenvolvedor a Treino</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div>
							<alert ng-repeat="alert in alertsS" type="{{sucesso.type}}"
								close="closeAlertS($index)">{{sucesso.msg}}</alert>
						</div>
						<div>
							<alert ng-repeat="alert in alertsE" type="{{errorMsg.type}}"
								close="closeAlertE($index)">{{errorMsg.msg}}</alert>
						</div>
						<form role="form" ng-submit="atribuir()" name="myForm">
							<div class="form-group">
								<label>Treino</label> 
								<select class="form-control" name="treino"
									ng-model="$parent.atribuicao.treino" required
									ng-if="idTreino === undefined">
									<option ng-repeat="n in treinos.treino" value="{{n.idTreino}}">
										{{n.descricaoTreino}}
									</option>
								</select>
								<input type="hidden" name ="treino" ng-model="atribuicao.treino" ng-value="{{idTreino}}" ng-if="idTreino !== undefined">

								<div  ng-if="idTreino !== undefined">{{descricaoTreino}}</div>
							</div>
							<div class="form-group">
								<label>Desenvolvedor</label> 
								<select multiple="multiple"
									class="form-control" name="dev" ng-model="atribuicao.dev"
									required>
									<option ng-repeat="n in usuarios.devs" value="{{n.cpf}}">
										{{n.nome}}
									</option>
								</select>
							</div>
							<button type="submit" class="btn btn-default"
								ng-disabled="!myForm.$valid">Cadastrar</button>
							<button type="reset" ng-clikc="doTheBack()" class="btn btn-default">Cancelar</button>
						</form>
					</div>
					<!-- /.col-lg-6 (nested) -->
				</div>
				<!-- /.row (nested) -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
	    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Deseja deletar este Projeto</h3>
        </div>
        <div class="modal-body">
				<img src="../img/load.gif" />
        </div>
        <div class="modal-footer">
        </div>
		</script>